/*@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two);
*/
html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing:antialiased;
}

a.button {
	background: #2980b9;
	color: white;
	border-style: none;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 14px;
	text-decoration: none;
}